In [1]:
library(tidyverse)

── Attaching core tidyverse packages ────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ──────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
# Define a function
calc <- function(a, b) {
    a + b ** 2
}

# Print an string
if (TRUE) {
    print("Hello world!")
}

# Run loop calling a function
for (i in 1:5) {
    print(calc(3, i))
}

[1] "Hello world!"
[1] 4
[1] 7
[1] 12
[1] 19
[1] 28

In [3]:
# Call an object explicitly specifying its library
dplyr::starwars |> nrow()

[1] 87

In [4]:
starwars |>
    group_by(gender) |>
    summarise(
        avg_height = mean(height, na.rm=TRUE),
        q95_mass   = quantile(mass, c(0.95), na.rm=TRUE)
    )

  gender    avg_height q95_mass
1 feminine  164.6875    67.8
2 masculine 176.5161   138.4
3 NA        181.3333    48.0

In [6]:
asdfg

ERROR: Error in eval(expr, envir, enclos): objeto 'asdfg' não encontrado